<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBFReaderFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <DBFReaderFinal.Properties.Settings>
            <setting name="noofdays" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="files" serializeAs="String">
                <value>GCHKINFO.dbf,EMP.DBF,BTN.DBF</value>
            </setting>
            <setting name="mainfilepath" serializeAs="String">
                <value>C:\Users\suray.bhattcharya\Downloads\wetransfer-d19d70\</value>
            </setting>
        </DBFReaderFinal.Properties.Settings>
    </applicationSettings>
</configuration>